<div style="width: 100%;">
  <div class="align-center">
      <h4>Editing Cliente</h4>
  </div>
</div>	

<%= render 'form', cliente: @cliente %>


<%= render 'action', page: 'edit', cliente: @cliente%>

