<div style="width: 100%;">
  <div class="align-center">
      <h4>New Cliente</h4>
  </div>
</div>	

<%= render 'form', cliente: @cliente %>


<div style="width: 100%;">
  <div class="align-center">
  	<div class="waves-effect waves-light btn" style="margin-bottom: 10px;">
    	<%= link_to 'Back', clientes_path %>
    </div>
  </div>
</div>	

  
